<%- include('./partials/header.ejs') %>
<main>
 <div class="ui segment">
   <h1>Menu</h1>
   <p>Um sistema de pedidos em restaurantes que provê funcionalidades tanto para os consumidores, quanto para os estabelecimentos.</p>
 </div>
</main>

<footer >
    <%- include('./partials/footer.ejs') %>
</footer>
</body>
</html>